



/* ****************************** */




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: auto;
    width: 100%;
    
}

.siteMain{
    background-image: url('../img/mogolfiBG.webp');
}

body {
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('../img/mogolfiBG.webp');
}

header {
    height: 5vh;
    background-image: linear-gradient(to left, #d31ddc, #b954ed, #a171f6, #8e86f7, #8397f3, #9a95f0, #ae94eb, #c093e6, #ef7ccb, #ff679b, #ff655d, #ff7a00);
    width: 100%;
    margin: 0;
    color: #e6f4f1;
    
}

/* NAV BAR */
.navbar {
    height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.logo {
    height: 100%;
    width: 10%;
}

h1 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

.userProfile {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.userName {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-weight: bold;
}

.userProfileImage {
    height: 110%;
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.imgNav {
    border-radius: 5px;
}

/* FIN NAV BAR */

main {
    height: auto;
    width: 100%;
    background-color: #E6f4f1;
}


/* SITE TOP  */
.logoPL{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: solid 0.5px;

}

.siteTop {
    height: 20vh;
    width: 100%;
    background-color:  #E6f4f1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    
}

/*  USER INFOS */

.userInfo {
    height: 90%;
    width: 40%;
    background-color: #048b9a3b;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    font-weight: bold;
    border: solid 0.5px;
    border-color: #003e6d;
    

}

/* AVATAR */
.userImage {
    height: 95%;
    width: 50%;
    display: flex;
    justify-content: center;
}

.nameInfo {
    margin: 0;
}

.dateUser {
    font-weight: 100;
}

.userAvatar {
    height: 100%;
    border-radius: 90px;
    border: solid 0.5px;
}

/* USERS INFORMATIONS RIGHT */
.userInformations {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/*  TASK FAVORI */
.listPined {
    height: 90%;
    width: 40%;
    background-color: #b1dcdd;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    border: solid 0.5px;
    border-color: #003e6d;
    
    
}

.listFav {
    height: 85%;
    width: 40%;
    background-color: #E6f4f1;
    border-radius: 15px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.listDate {
    height: 85%;
    width: 40%;
    border-radius: 15px;
    background-color: #E6f4f1;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.siteMain {
    min-height: 70vh;
    width: 100%;
    background-color:  #E6f4f1;;    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
}

.green {
    border: 2px solid green;
    background-color: rgba(0, 128, 0, 0.419) !important;
}

.listCreated {
    height: 100%;
    width: 90%;
    border-radius: 25px;
}

.taskCreated {
    width: 22%;
    margin-bottom: 10px;
    margin-right: 3%;
    overflow-y: scroll;
    height: 200px;
}


/* List des TODO*/
.app {
    
    background-color: #b1dcdd;
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 25px;
    border: solid 0.5px;
    border-color: #000000;
    
    /* overflow: scroll; */

}

#addNew {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e6f4f1;
    padding: 5px 10px;
    border-radius: 5px;
    border: solid 0.5px;
    border-color: #000000;
    cursor: pointer;
    color: #fff8f8;

}

#category{
    color: #000000;

}

.plus{
    color: #000000;

}



/* Ajouter + effet au survol  */
.fa-plus {
    background-color: #000000;
    padding: 3px;
    border-radius: 3px;
    transition: transform 0.2s ease-in-out; 

}

.fa-plus:hover {
    transform: scale(1.2); 
}


/* Modifier effet au survol  */
.fa-edit{
    
    transition: transform 0.2s ease-in-out; 
}

.fa-edit:hover {
    transform: scale(1.2); 
}


/* Supprimer + effet au survol  */

.fa-trash-alt{
    
    transition: transform 0.2s ease-in-out; 
}

.fa-trash-alt:hover {
    transform: scale(1.2); 
}

.check-mark {
    width: 19px;
    height: 33px;
    border: 2px solid #000000;
    border-left: 0;
    border-top: 0;

    transform: rotate(45deg);
}


#msg {
    color: red;
}
.textCenter{
    color: #000000;
}

#tasks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    

}

#tasks div {
    background-color: #e6f4f1;
    border-radius: 6px;
    padding: 5px;
    display: grid;
    gap: 4px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#tasks div .options {
    justify-self: center;
    display: flex;
    gap: 20px;

}


#tasks div .options i {
    cursor: pointer;
}

@media (max-width: 403px) {
    .nameInfo{
        margin-top: 20px;
        margin-right: 10px;
    }
    .xpBar{
        width: 85%;
        
    }

    .userMail{
        height: 50%;
        width: 30vw;
        
    }
}

@media (max-width: 900px) {
    .userProfileImage {
        width: 40%;
    }


}

@media (max-width: 811px) {
    .siteTop {
        flex-direction: column;
        display: flex;
        height: 300px;
        justify-content: space-around;
    }
    .logoPL{
    display: none;
    }

    .divProgressBar{
        display: flex;
        flex-wrap: wrap;
        border: #000000;
        border-radius: 5px;
        border: solid 0.5px;
        height: 50%;
        width: 35vw;
        overflow: auto;
    }


    #addNew{
        width: 100%;

    }

    .userInfo {
        width: 95%;
        height: 45%;
        justify-content: center;
        margin-top: 15px;
    
    }
    .listPined {
        width: 90%;
        height: 45%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .listDate{
        height: 80%;
        width: 45%;
    }

    .listFav{
        height: 80%;
        width: 45%;
    }

    .userInformations {
        width: 90%;
        height: 100%;
        display: flex;
    }

    .userImage{
        width: 40%;
        height: 90%;
    }

    .userMail {
        display: flex;
        text-align: right;
        margin-left: 10px;
    }

    .userInformations{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    .userImage {
        width: 40%;
    }

    .siteMain {
        flex-direction: column;
        min-height: 60vh;

    }

    .categoryExemple {
        width: 100%;
    }

    .listCreated{
        width: 100%;
    }
}

footer {
    height: 5vh;
    width: 100%;
    background-color: black;
    position: relative;
    bottom: 0;
    }

    /* Ancre */
a {

    display: flex;
    text-align: center;
    justify-content: center;
    color: #000000;
    text-decoration: none;
    background-image: linear-gradient(to top, #000000, #2d2b2c, #545357, #7d8085, #a7b0b4, #bbc6c9, #d0dddd, #e6f4f1, #e6f4f1, #e6f4f1, #e6f4f1, #e6f4f1);
}
/* Barre d'expérience */
.divProgressBar{
    display: flex;
    flex-wrap: wrap;
    border: #000000;
    border-radius: 5px;
    border: solid 0.5px;
    height: 50%;
    overflow: auto;
}

#progressBar{
    background-color: rgb(101, 192, 222);
    width: 90%;
    font-size: 14px;
    text-align: center;

}

#progressBarWhite{
    background-color: white;
    width: 10%;
}