



/* ****************************** */




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: auto;
    width: 100%;
    
}

body {
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    
}

header {
    height: 5vh;
    background-image: linear-gradient(to left, #d31ddc, #b954ed, #a171f6, #8e86f7, #8397f3, #9a95f0, #ae94eb, #c093e6, #ef7ccb, #ff679b, #ff655d, #ff7a00);
    width: 100%;
    margin: 0;
    color: #e6f4f1;
    
}

/* NAV BAR */
.navbar {
    height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.logo {
    height: 100%;
    width: 10%;
}

h1 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

.userProfile {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.userName {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-weight: bold;
}

.userProfileImage {
    height: 110%;
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.imgNav {
    border-radius: 5px;
}

/* FIN NAV BAR */

main {
    height: auto;
    width: 100%;
    background-color: aqua;
}


/* SITE TOP  */
.siteTop {
    height: 20vh;
    width: 100%;
    background-color:  #E6f4f1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    
}

/*  USER INFOS */

.userInfo {
    height: 90%;
    width: 40%;
    background-color: #048b9a3b;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    font-weight: bold;
    border: solid 0.5px;
    border-color: #003e6d;
    

}

/* AVATAR */
.userImage {
    height: 95%;
    width: 50%;
    display: flex;
    justify-content: center;
}

.nameInfo {
    margin: 0;
}

.dateUser {
    font-weight: 100;
}

.userAvatar {
    height: 100%;
    border-radius: 90px;
    border: solid 0.5px;
}

/* USERS INFORMATIONS RIGHT */
.userInformations {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/*  TASK FAVORI */
.listPined {
    height: 90%;
    width: 40%;
    background-color: #b1dcdd;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    border: solid 0.5px;
    border-color: #003e6d;
    
}

.listFav {
    height: 85%;
    width: 40%;
    background-color: #E6f4f1;
    border-radius: 15px;
    border: solid 0.5px;
}

.listDate {
    height: 85%;
    width: 40%;
    border-radius: 15px;
    background-color: #E6f4f1;
    border: solid 0.5px;

}

.siteMain {
    height: 80%;
    width: 100%;
    background-color:  #E6f4f1;;    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
}



.listCreated {
    height: 100%;
    width: 90%;

    border-radius: 25px;
}

footer {
    height: 5vh;
    width: 100%;
    background-color: black;
    position: relative;
    bottom: 0;
    }

/* List des TODO*/
.app {
    
    background-color: #003e6d;
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 25px;
    border: solid;
    border-color: #fff8f8;
    
    /* overflow: scroll; */

}

#addNew {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b1dcdd;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff8f8;

}

#category{
    color: #e6f4f1;
}


/* Ajouter + effet au survol  */
.fa-plus {
    background-color: #003e6d;
    padding: 3px;
    border-radius: 3px;
    transition: transform 0.2s ease-in-out; 

}

.fa-plus:hover {
    transform: scale(1.2); 
}


/* Modifier effet au survol  */
.fa-edit{
    
    transition: transform 0.2s ease-in-out; 
}

.fa-edit:hover {
    transform: scale(1.2); 
}


/* Supprimer + effet au survol  */

.fa-trash-alt{
    
    transition: transform 0.2s ease-in-out; 
}

.fa-trash-alt:hover {
    transform: scale(1.2); 
}




#msg {
    color: red;
}
.text-center{
    color: #e6f4f1;
}

#tasks {
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;

}

#tasks div {
    border: 3px solid#e6f4f1;
    background-color: #e6f4f1;
    border-radius: 6px;
    padding: 5px;
    display: grid;
    gap: 4px;
}

#tasks div .options {
    justify-self: center;
    display: flex;
    gap: 20px;

}

#tasks div .options i {
    cursor: pointer;
}



@media (max-width: 900px) {
    .userProfileImage {
        width: 40%;
    }


}

@media (max-width: 811px) {
    .siteTop {
        flex-direction: column;
        display: flex;
        height: 300px;
        justify-content: space-around;
    }


    .userInfo {
        width: 90%;
        height: 45%;
        justify-content: center;
    }
    .listPined {
        width: 90%;
        height: 45%;
    }

    .userInformations {
        width: 90%;
        height: 100%;
        display: flex;
    }

    .userImage{
        width: 40%;
        height: 90%;
    }

    .userMail {
        display: flex;
        text-align: right;
        margin-left: 10px;
    }

    .userInformations{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    .userImage {
        width: 40%;
    }

    .siteMain {
        flex-direction: column;
    }

    .categoryExemple {
        width: 100%;
    }

    .listCreated{
        width: 100%;
    }
}


/* Ancre */
a {

    display: flex;
    text-align: center;
    justify-content: center;
    color: #f8f8f8;
    text-decoration: none;
    background-color: #000000; 
    
}

